@use "../../presets" as *;
@use "../../mixins" as *;

.posts {
  h2 {
    margin-top: 0;
  }

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;
    padding-bottom: 20px;
    gap: $gap;

    @include lg-min {
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-item {
    background-color: #f2f2f2;
    &__link {
      background-color: #eeeeee;
      display: grid;
      overflow: hidden;
      height: 100%;
      grid-template-rows: 300px 1fr;

      img:hover {
        transform: scale(1.1);
      }
    }

    &__image {
      img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      object-fit: cover;
      overflow: hidden;
      background-color: #2d3651;
    }

    &__caption {
      display: grid;
      align-content: center;
      padding: 20px;

      h3 {
        font-size: 1.125rem;
        line-height: 20px;
        color: $color-gray;
        font-family: $font-header;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.05em;
      }

      p {
        font-size: $font-size;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0;
        transition: color 0.5s;
      }
    }
  }
}

@for $i from 1 through 6 {
  .posts-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
